body{
    margin-top: 6%;
    text-align: justify;
    background: linear-gradient(0deg, rgba(106, 110, 229, 0.7), rgba(130, 74, 233, 0.7), rgba(153, 48, 221, 0.7), rgba(219, 113, 253, 0.7));
}

h1,h2,h3,h4{
    text-align : center;
}
.Container{
    margin-bottom: 5%;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(252, 194, 3);
    background-color: #6a6ee5;
}
.Container:hover{
    background-color: #2e1650;
    transform: scale(1.05);
    color : white;
    
}

.Container::before {
    position: absolute;
    top: 0;
    left: 0%;
    z-index: 2;
    display: block;
    content: '';
    width: 0; /* Initially hidden */
    height: 100%;
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.6) 50%, rgba(255,255,255,0) 100%);
    transform: skewX(-25deg);
    transition: none; /* No transition unless hovered */
}

.Container:hover::before {
    width: 10%; /* Appears only on hover */
    animation: shine 0.7s;
    animation-fill-mode: forwards;
}

.Container {
    position: relative;
    overflow: hidden; /* Keeps the shine within the container */
    transition: background-color 0.7s, transform 0.7s;
}

.Container:hover {
    transform: scale(1.05); /* Slight zoom-in */
}

@keyframes shine {
    0% {
        left: 0;
    }
    100% {
        left: 100%;
    }
}



.textn1{
    margin-top: 7%;
    margin-bottom: 7%;
    text-align: center;
}

.ListShow {
    border-radius: 10px;
    background-color: #2e1650;
    transform: scale(1.05);
    color: white;
    margin-bottom: 5%;
}

.List{
    margin-bottom: 5%;
    transition : background-color 0.7s;
	transition: transform 0.7s;
}

ul{
    list-style: none;
}

.UlSelect{
    list-style: none;
}
.transition-container {
    max-height: 0;
    opacity: 0;
    border-radius: 10px;
    overflow: hidden;
    display : flex;
    justify-content: center;
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
}
  
.show {
    max-height: 500px;
    opacity: 1;
}
  
.hide {
    max-height: 0;
    opacity: 0;
}