body{
    overflow: scroll!important;
}
figure {
	width: 308px;
	height: 560px;
	height: 308px;
	margin: 0;
	padding: 0;
	background: #fff;
	overflow: hidden;
}
.hover figure {
	position: relative;
}
.hover figure::before {
	position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 10%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}
} 
.hover figure:hover::before {
	-webkit-animation: shine .75s;
	animation: shine .75s;
}
.hover figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-out;
	transition: .3s ease-out;
	transition: transform 0.3s;
}
.hover figure:hover img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	transform: scale(1.2);
}
@-webkit-keyframes shine {
	100% {
		left: 130%;
	}
}
@keyframes shine {
	100% {
		left: 130%;
	}
}