@import url('https://fonts.googleapis.com/css2?family=BriskPro&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'BriskPro', sans-serif;
    background: linear-gradient(0deg, rgba(106, 110, 229, 0.7), rgba(130, 74, 233, 0.7), rgba(153, 48, 221, 0.7), rgba(219, 113, 253, 0.7), rgba(255, 247, 140, 0.7));
    color: white;
    z-index: 10;
    margin: 0;
    overflow: hidden;
}

#wallpaper {
    background: url('/img/kha_zix_bg.jpg') no-repeat center center;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.8;
    z-index: -1;
}

.navbar-custom {
    background-color: #2e1650;
    border-bottom: 1px solid #41136e;
    padding: 10px 20px;
}

.navbar-brand img {
    vertical-align: middle;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand span {
    margin-left: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.navbar-nav .nav-link {
    color: white !important;
    font-size: 18px;
    margin-right: 20px;
    text-transform: uppercase;
    font-weight: 500;
    position: relative;
}

.navbar-nav .nav-link:hover {
    color: #ddd !important;
}

.navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

.navbar-nav .nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.navbar-nav .nav-link img {
    vertical-align: middle;
    margin-top: -3px;
}

.flag-link {
    position: absolute;
    top: 10px;
    right: 20px;
}

.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.content {
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    width: 100%;
}

.title-image {
    max-width: 100%;
    height: auto;
    user-select: none;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.download-container {
    position: absolute;
    top: 120px;
    left: 20px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: none;
    color: #C3B1E1;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    transition: all .15s ease;
}

.download-container::before,
.download-container::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    height: calc(50% - 5px);
    border: 1px solid #7D8082;
    transition: all .15s ease;
}

.download-container::before {
    top: 0;
    border-bottom-width: 0;
}

.download-container::after {
    bottom: 0;
    border-top-width: 0;
}

.download-container:active,
.download-container:focus {
    outline: none;
}

.download-container:active::before,
.download-container:active::after {
    right: 3px;
    left: 3px;
}

.download-container:active::before {
    top: 3px;
}

.download-container:active::after {
    bottom: 3px;
}

.button_lg {
    position: relative;
    display: block;
    padding: 10px 20px;
    color: #fff;
    background-color: #0f1923;
    overflow: hidden;
    box-shadow: inset 0px 0px 0px 1px transparent;
}

.button_lg::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 2px;
    background-color: #C3B1E1;
}

.button_lg::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 4px;
    height: 4px;
    background-color: #C3B1E1;
    transition: all .2s ease;
}

.button_sl {
    display: block;
    position: absolute;
    top: 0;
    bottom: -1px;
    left: -8px;
    width: 0;
    background-color: rgb(252, 194, 3);
    transform: skew(-15deg);
    transition: all .2s ease;
}

.button_text {
    position: relative;
}

.download-container:hover {
    color: #C3B1E1;
}

.download-container:hover .button_sl {
    width: calc(100% + 15px);
}

.download-container:hover .button_lg::after {
    background-color: #fff;
}

.search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 220px;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: white;
    box-shadow: 0 40px 80px rgba(0, 0, 0, 0.3);
    width: 100%;
}

.search-bar .search-input {
    border: none;
    flex-grow: 1;
    padding: 15px;
    border-radius: 50px;
    margin-right: 10px;
    font-style: italic;
}

.search-bar .region-dropdown {
    position: relative;
}

.search-bar .region-badge {
    border: none;
    background-color: #6a6ee5;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    margin-right: 10px;
}

.search-bar .region-badge:hover,
.search-bar .region-badge:focus,
.search-bar .region-badge:active {
    background-color: rgb(252, 194, 3) !important;
}

.search-bar .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    color: #333;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.search-bar .region-dropdown:hover .dropdown-menu {
    display: block;
}

.search-bar .search-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
}

.search-bar .search-button:focus,
.search-bar .search-button:active {
    background-color: transparent !important;
}

.search-bar button img {
    width: 24px;
    height: 24px;
    user-select: none;
}

.footer {
    background-color: #2e1650;
    padding: 20px 0;
    color: #ffffff;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.footer p {
    margin: 0;
}
